<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingluo.link.service.mapper.SystemProviderMapper">

    <select id="selectActiveProviders" resultType="com.qingluo.link.model.entity.SystemProvider">
        SELECT * FROM llm_system_provider WHERE is_active = 1 ORDER BY priority DESC
    </select>

    <select id="selectByType" resultType="com.qingluo.link.model.entity.SystemProvider">
        SELECT * FROM llm_system_provider WHERE provider_type = #{providerType}
    </select>

</mapper>